 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Maven+Pro:wght@500&family=Poppins:wght@100&family=Raleway:wght@300&display=swap');

$font-main:'Poppins', sans-serif;
$font-second:'Inter', sans-serif;
$backround:#eaeaea;
$text-color:#090909;
$blue:#08d9d6;
$red:#e50000;
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }